#Python
__pycache__/
*.pyc
venv/
.env
*.env

#Django 
db.sqlite3
staticfiles/

#Secrets
.env.*
*.pem
*.key

#OS 
.ds_store

#Ignoring static files at root directory (build outputs) not ignoring static files in the apps (css & images)
/static/
/staticfiles/