{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<style>
  .hero {
    background-image: url("{% static 'images/temp_picture.jpg' %}");
  }
</style>
{% endblock %} 

<!-------------------------------------------------------------------->
<!-------------------------------------------------------------------->

{% block content %}

  <section class="page-title">
    <h1>ClearSpace Local</h1>
  </section>

  <section class="mission-container">
    <h2>Connecting Communities with Trusted Local Services</h2>
    <p>
      At ClearSpace Local, our mission is to make finding reliable local
      service professionals simple, transparent, and stress-free.
      We help homeowners connect with trusted experts in their community,
      so projects get done right — the first time.
    </p>
  </section>
{% endblock %} 